/* Geral */

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    text-shadow: 1px 1px black;
    border: 3px solid green;
    border-radius: 8px;
    color: green;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    transition: 400ms;
    background-color: black;
}

li {
    padding-bottom: 7px;
    list-style: none;
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 15px;
}

/* Header */

header {
    position: fixed;
    height: 70px;
    width: 100%;
    background: black;
}

nav {
    float: right;
    margin-right: 5px;
}

header li {
    float: left;
}

header a {
    display: flex;
    background-color: black;
    border: 0;
}

header a:hover {
    background-color: lightgreen;
}

header #logo {
    position: absolute;
    margin-top: 5px;
    height: 60px;
    width: 60px;
    margin-left: 2%;
}

header #logo img {
    max-height: 100%;
    border-radius: 8px;
}

/* Capa */

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#t1 {
    margin-top: 15%;
}

#Capa {
    background: url(/images/Capa.jpg);
    background-size: cover;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

#Capa h1 {
    color: green;
    line-height: 0.9;
    text-shadow: 1.5px 1.5px black;
    font-size: 90px;
    margin: 200px 20% 0 20%;
    padding-bottom: 20px;
}

#Capa h2 {
    text-shadow: 1.5px 1.5px black;
    color: green;
    text-align: center;
    padding-top: 20px;
    margin: 0 30% 0 30%;
    border-top: 3px solid green;
    font-size: 30px;
    margin-bottom: 75px;
}

/* O projeto */

#menu1 {
    width: auto;
    border: 15px;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    background: rgb(231, 248, 232);
}

.coluna {
    display: flex;
    margin-bottom: 15px;
}

.txt {
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: inline;
    text-align: justify;
    margin-bottom: 75px;
}

#menu1 iframe {
    border: 3px double rgb(8, 163, 8);
    border-radius: 8px;
    margin-left: 60px;
    width: 560px;
    height: 315px;
}

/* Metas */

#menu2 {
    padding-top: 30px;
    width: auto;
    border: 15px;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 75px;
}

#menu2 .txt {
    width: 50%;
    border: 15px;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 75px;
}

#menu2 .metas {
    width: 50%;
    font-size: 15px;
    margin-left: 35px;
    padding: 73px 10px 10px 10px;
    border-left: 15px;
}

#menu2 .metas span {
    margin-right: 16px;
    display: flex;
    background-image: url(./images/export.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

/* Menu3 */

#menu3 {
    background: rgb(231, 248, 232);
    width: auto;
    border: 15px;
    padding: 90px;
    box-sizing: border-box;
    text-align: center;
}

.Mheader {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Metas2 {
    margin: 20px;
    color: green;
    width: 20%;
    text-align: center;
}

.Metas2:hover {
    font-size: 0;
}

.Metas2:hover:after {
    transition: 400ms;
    content: attr(data-hover);
    font-size: 15px;
    font-weight: 28px;
    font-weight: 200px;
}

/* Menu4 */

footer {
    background-color: black;
    padding: 30px 30px;
}

footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer address {
    color: white;
    width: 30%;
    align-items: center;
}

footer #credito {
    width: 30%;
    color: white;
    font-size: 10px;
}

footer #ods {
    width: 30%;
    display: flex;
    align-items: center;
}

footer #ods p {
    color: white;
    margin-left: 10px;
    text-align: justify;
    font-size: 13px;
}

footer #ods img {
    width: 130px;
    height: 130px;
    border-radius: 8px;
}

footer #credito h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline white;
}

footer #credito h2 {
    text-align: justify;
}